<section>
  <!-- Page content-->
  <div class="content-wrapper">

    <div class="content-heading">
      <!-- START Language list-->

      <!-- END Language list    -->
      Edit Program Need
      <small data-localize="dashboard.WELCOME"></small>
    </div>



    <%= render 'form' %>

    <%= link_to 'Show', @need %> |
    <%= link_to 'Back', needs_path %>


  </div>
</section>








