<section>
  <!-- Page content-->
  <div class="content-wrapper">

    <div class="content-heading">
      <!-- START Language list-->

      <!-- END Language list    -->
      Program Needs
      <small data-localize="dashboard.WELCOME"></small>
      <div class="pull-right">
        <%= link_to 'Create Need', new_need_path, :class => "btn btn-primary btn-sm" %>
      </div>

    </div>




    <p id="notice"><%= notice %></p>

    <%= render partial: 'needs/needs_table' %>

    <br>





    </div>
</section>











