

<section>
  <!-- Page content-->
  <div class="content-wrapper">

    <div class="content-heading">
      <!-- START Language list-->

      <!-- END Language list    -->
      Visitors Main Page
      <small data-localize="dashboard.WELCOME"></small>
    </div>






    <div class="row">
      <div class="col-lg-12">

<h2>Simple blank landing page for introduction content</h2>
  <h3>Actual users might logon from this location.</h3>














<%= render 'visitors/carousel' %>

          </div>
        </div>
</section>