<section>
  <!-- Page content-->
  <div class="content-wrapper">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-sm-12">



            <h2>Notice: this is a working prototype for the ProjHub component of the PREMAS Integrated Results Based Management system. </h2>
            <p>Copyright &copy;   PReMaS is a copyright of <a href="http://cedre.org.my">CeDRE International</a> </p>














        <h3>User Alerts</h3>
        <p>This will be the default home page with all activities (proposals, projects, studies, etc) that are assigned or impacted by the current User</p>
      </div>
    </div>

  </div>
    </section>
