<div class="col-lg-12">
  <img src = "/assets/img/mapprov1.png" width="1200">
  <!--<div id="map" style="width: 600px; height: 400px"></div>

  </div>-->
</div>
<div class="col-lg-12">
  <h2>Regional Map showing administrative districts of Malaysia</h2>
  <p>Each district is a polygon shape. This map shows the detail level of province districts. There is a higher level layer with just the primary districts. Each polygon can have
    a numerical value linked to it. Usinig the cholorpleth color schemes the values will be shown as different colors. </p>
  <p>Uses might include project values allocated to each district or relative income levels. </p>


</div>