<div class="col-lg-12">
  <!--<img src = "/assets/img/malaysiaprojects.png" width="1200">-->
  <!--<div id="map" style="width: 600px; height: 400px"></div>

  </div>-->
  <iframe width="100%" height="520" frameborder="0" src="https://cantina23.cartodb.com/viz/3a01a156-711f-11e5-9545-0ecd1babdde5/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
</div>
<div class="col-lg-12">
  <h2>Country Map showing location of individual projects</h2>
  <p>The Map "visualization" is hosted on CartoDB. When a project is saved the lat long and other data are
    migrated to the CartoDB dataset and updated. New records will be added.

    </p>
  <p>The map is a direct view using CartoDB and Iframe code.. similar to publishing a YouTube video.</p>
  <p>Ideally the project icons will link to full project records</p>
  <!--<div id="map" style="width: 600px; height: 400px"></div>

  </div>-->
</div>