<section>
  <!-- Page content-->
  <div class="content-wrapper">

    <div class="content-heading">
      <!-- START Language list-->

      <!-- END Language list    -->
      Edit Study
      <small data-localize="dashboard.WELCOME"></small>
    </div>


    <%= render 'form' %>



    <%= link_to 'Show', @study %> |
    <%= link_to 'Back', studies_path %>


  </div>
</section>