
<section>
  <!-- Page content-->
  <div class="content-wrapper">

    <div class="content-heading">
      Feasibility Studies
      <small data-localize="dashboard.WELCOME"></small>
      <div class="pull-right">
        <%= link_to 'New Study', new_study_path, :class => "btn btn-primary btn-sm" %>
      </div>
    </div>
    <p id="notice"><%= notice %></p>


<%= render partial: 'studies/studies_table' %>

<br>






  </div>
</section>



