<section>
  <!-- Page content-->
  <div class="content-wrapper">
    <div class="content-heading">
      Projects
      <small data-localize="dashboard.WELCOME"></small>
      <div class="pull-right">
        <%= link_to 'New Project', new_project_path, :class => "btn btn-primary btn-sm" %>
      </div>
    </div>




    <%= render partial: 'projects/projects_table' %>




  </div>
</section>

