
<section>
  <!-- Page content-->
  <div class="content-wrapper">

    <div class="content-heading">
      <!-- START Language list-->

      <!-- END Language list    -->
      Create Proposal
      <small data-localize="dashboard.WELCOME"></small>
    </div>


    <%= render 'form' %>


    <%= link_to 'Back', proposals_path %>


  </div>
</section>