
<section>
  <!-- Page content-->
  <div class="content-wrapper">

    <div class="content-heading">
      <!-- START Language list-->

      <!-- END Language list    -->
      Create Policy Record
      <small data-localize="dashboard.WELCOME"></small>
    </div>


    <%= render 'form' %>

    <%= link_to 'Back', policies_path %>


  </div>
</section>